@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HotelReservation</title>
    <link href="~/assets/css/animate.css" rel="stylesheet" />
    <link href="~/assets/css/icomoon.css" rel="stylesheet" />
    <link href="~/assets/css/themify-icons.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/assets/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />

    <script src="~/assets/js/modernizr-2.6.2.min.js"></script>

</head>
<body>
    <div class="gtco-loader"></div>

    <header>

        <nav class="gtco-nav" role="navigation">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div id="gtco-logo"><a href="/">INK-Reservation <em>.</em></a></div>
                    </div>
                    <div class="col-xs-8 text-right menu-1">
                        <ul>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li class="has-dropdown">
                                    <a href="#">Reservation</a>
                                    <ul class="dropdown">
                                        <li><a asp-controller="Reservation" asp-action="CreateReservation">New Reservation</a></li>
                                        <li><a asp-controller="Reservation" asp-action="ManageReservation">Manage Reservation</a></li>
                                    </ul>
                                </li>
                            }
                                <li><a href="destination.html">Destination</a></li>
                                <li class="has-dropdown">
                                    <a href="#">Travel</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Europe</a></li>
                                        <li><a href="#">Asia</a></li>
                                        <li><a href="#">America</a></li>
                                        <li><a href="#">Canada</a></li>
                                    </ul>
                                </li>
                                <li><a href="/">Pricing</a></li>
                                <li><a href="/">Contact</a></li>


                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="/" title="Manage">Hello <u>@User.Identity.Name.Split("@").ElementAtOrDefault(0).ToUpper()</u></a>
                                    </li>
                                    <li class="nav-item">
                                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                        </form>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                    </li>
                                }
                            </ul>
                    </div>
                </div>
            </div>
        </nav>

    </header>

    <div id="page">
        @RenderBody()
    </div>

    <footer id="gtco-footer" role="contentinfo">
        <div class="gtco-container">
            <div class="row row-p	b-md">

                <div class="col-md-4">
                    <div class="gtco-widget">
                        <h3>About Us</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eos molestias quod sint ipsum possimus temporibus officia iste perspiciatis consectetur in fugiat repudiandae cum. Totam cupiditate nostrum ut neque ab?</p>
                    </div>
                </div>

                <div class="col-md-2 col-md-push-1">
                    <div class="gtco-widget">
                        <h3>Destination</h3>
                        <ul class="gtco-footer-links">
                            <li><a href="#">Europe</a></li>
                            <li><a href="#">Australia</a></li>
                            <li><a href="#">Asia</a></li>
                            <li><a href="#">Canada</a></li>
                            <li><a href="#">Dubai</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2 col-md-push-1">
                    <div class="gtco-widget">
                        <h3>Hotels</h3>
                        <ul class="gtco-footer-links">
                            <li><a href="#">Luxe Hotel</a></li>
                            <li><a href="#">Italy 5 Star hotel</a></li>
                            <li><a href="#">Dubai Hotel</a></li>
                            <li><a href="#">Deluxe Hotel</a></li>
                            <li><a href="#">BoraBora Hotel</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-md-push-1">
                    <div class="gtco-widget">
                        <h3>Get In Touch</h3>
                        <ul class="gtco-quick-contact">
                            <li><a href="#"><i class="icon-phone"></i> +1 234 567 890</a></li>
                            <li><a href="#"><i class="icon-mail2"></i> info@freehtml5.co</a></li>
                            <li><a href="#"><i class="icon-chat"></i> Live Chat</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="row copyright">
                <div class="col-md-12">
                    <p class="pull-left">
                        <small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small>
                        <small class="block">Designed by <a href="https://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a></small>
                    </p>
                    <p class="pull-right">
                        <ul class="gtco-social-icons pull-right">
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        </ul>
                    </p>
                </div>
            </div>

        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.easing.1.3.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.waypoints.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/jquery.countTo.js"></script>
    <script src="~/assets/js/jquery.stellar.min.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/magnific-popup-options.js"></script>
    <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
